
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .signup-paper {
    padding: 20px;
    width: 400px;
    opacity: 0.9;
  }
  
  .signup-form .date-picker {
    width: 100%;
  }
  
  .submit-button {
    margin-top: 20px;
  }
  
  .mt-2 {
    margin-top: 16px;
  }
  
  .MuiLink-root {
    text-align: center;
    display: block;
  }
  