.login-container {
  padding: 2rem;
}

.login-card {
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
}

.login-image {
  width: 100%;
  height: auto;
}
