.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-paper {
  padding: 2rem;
  margin: 2rem;
  width: 100%;
  max-width: 400px;
  opacity: 0.9;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin: 1rem 0;
}
